{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Satyajit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="" content="">
    <meta name="keywords" content="html, css, javascript, jquery, Python, Django, Portfolio">
    <meta name="author" content="Satyajit Patra">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/jquery.fancybox.min.css' %}">
    

    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
      .navbar {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background: transparent;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    
    .navbar .container {
        display: flex;
        align-items: center;
    }
    
    .navbar-logo img {
        height: auto;
        width: 100%; /* Adjust the width as a percentage */
        max-width: 140px; /* Maximum width for larger screens */
    }
    
    @media (max-width: 768px) {
        .navbar-logo img {
            max-width: 120px; /* Adjust max-width for medium screens */
        }
    }
    
    @media (max-width: 480px) {
        .navbar-logo img {
            max-width: 100px; /* Adjust max-width for smaller screens */
        }
    }
    </style>

  </head>
  <body data-spy="scroll" data-target=".site-nav-target" data-offset="200">

    
    <nav class="navbar">
      <div class="container">
          <a href="#" class="navbar-logo">
              <img src="{{ maindetails.logo_image.url }}" alt="Logo">
          </a>
      </div>
  </nav>


    <div class="unslate_co--site-wrap">

      <div class="unslate_co--site-inner">

        <div class="lines-wrap">
          <div class="lines-inner">
            <div class="lines"></div>
          </div>
        </div>
        <!-- END lines -->
      

      <!-- END nav -->

      <div class="cover-v1 jarallax" style="background-image: url('{{ maindetails.main_background_image.url }}');" id="home-section">
        <div class="container">
          <div class="row align-items-center">
              
            <div class="col-md-7 mx-auto text-center">
              <h1 class="heading gsap-reveal-hero">{{ maindetails.main_heading|safe }}</h1>
              <h2 class="subheading gsap-reveal-hero">{{ maindetails.sub_heading|safe }}</h2>
            </div>

          </div>
        </div>


        <a href="#portfolio-section" class="mouse-wrap smoothscroll">
          <span class="mouse">
            <span class="scroll"></span>
          </span>
          <span class="mouse-label">Scroll</span>
        </a>

      </div>
      <!-- END .cover-v1 -->


      <div class="unslate_co--section" id="portfolio-section">
        <div class="container">
          
          
          <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
          <div id="portfolio-single-holder"></div>

          <div class="portfolio-wrapper">

            <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
              <h2 class="mr-auto heading-h2"><span class="gsap-reveal">My Works</span></h2>

              <!-- <a href="#" class="text-white js-filter d-inline-block d-lg-none">Filter</a>
              
              <div class="filter-wrap">
                <div class="filter ml-auto" id="filters">
                  <a href="#" class="active" data-filter="*">All</a>
                  <a href="#" data-filter=".web">Web</a>
                  <a href="#" data-filter=".branding">Branding</a>
                  <a href="#" data-filter=".illustration">Illustration</a>
                  <a href="#" data-filter=".packaging">Packaging</a>
                </div>
              </div> -->
            </div>


            
            <div id="posts" class="row gutter-isotope-item">
              {% for work in works %}
              <div class="item col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                  <a href="#" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="{{ work.title }}">
                      <div class="overlay">
                          <span class="wrap-icon icon-link2"></span>
                          <div class="portfolio-item-content">
                              <h3>{{ work.title }}</h3>
                              <p class="post-meta">{{ work.completion_date|date:"F Y" }}</p>
                          </div>
                      </div>
                      <img src="{{ work.image.url }}" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>
              {% endfor %}

            </div>           
          </div>
        </div>
      </div>


      <div class="unslate_co--section">
        <div class="container">
          <div class="owl-carousel logo-slider">
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/logo-google.png' %}" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/ue.png' %}" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/logo-paypal.png' %}" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/logo-adobe.png' %}" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>


      <div class="unslate_co--section" id="about-section">
        <div class="container">
          
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">About Me</span></h2>
            <span class="gsap-reveal">
            <img src="{% static 'images/divider.png' %}" alt="divider" width="76">
            </span>
          </div>
          

          <div class="row mt-5 justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
              <figure class="dotted-bg gsap-reveal-img ">
                <img src="{{ aboutme.image.url }}" alt="Image" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-4 pr-lg-5">
              <h3 class="mb-4 heading-h3"><span class="gsap-reveal">{{ aboutme.title }}</span></h3>
              <p class="lead gsap-reveal">{{ aboutme.primary_caption|safe}} </p>
              <p class="mb-4 gsap-reveal">{{ aboutme.secondary_caption|safe}} </p>
              <p class="gsap-reveal"><a href="#" class="btn btn-outline-pill btn-custom-light">Download my CV</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="unslate_co--section" id="services-section">
        <div class="container">

          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Skills</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>

          <div class="row gutter-v3">
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/001-options.svg' %}" alt="Image" width="45">
                </div>
                <h3>Software <br> Development</h3>
                <p>Software development using Python and PyQt5. </p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/002-chat.svg' %}" alt="Icon" width="45">
                </div>
                <h3>Web <br> Development</h3>
                <p>Web development using Python Django. </p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/006-goal.svg' %}" alt="Image" class="img-fluid" width="45">
                </div>
                <h3>Game <br> Development</h3>
                <p>Game development using Unreal Engine along with Maya and ZBrush. </p>
              </div> 
            </div>

          </div>
        </div>
      </div>

      <div class="unslate_co--section section-counter" id="skills-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Skills</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>


          <div class="row pt-5">
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="90">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">WordPress</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="99">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">HTML/CSS</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="95">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">jQuery</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="100">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Design</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END .counter -->

      

      <div class="unslate_co--section" id="journal-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Journal</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>

          
          <div class="row gutter-v4 align-items-stretch">
            {% for journal in journals %}
            {% if forloop.first %}
            <div class="col-sm-6 col-md-6 col-lg-8 blog-post-entry" data-aos="fade-up" data-aos-delay="0">
            {% else %}
            <div class="col-sm-6 col-md-6 col-lg-4 blog-post-entry" data-aos="fade-up" data-aos-delay="100">
            {% endif %}
              <a href="blog-single.html" class="grid-item blog-item w-100 h-100">
                <div class="overlay">
                  <div class="portfolio-item-content">
                    <h3>{{ journal.title }}</h3>
                    <p class="post-meta">By Satyajit <span class="small">&bullet;</span> {{ journal.published_date|date:"F Y" }}</p>
                  </div>
                </div>
                <img src="{{ journal.image.url }}" class="lazyload" alt="Image" />
              </a>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
      <!-- END blog posts -->


      <div class="unslate_co--section" id="contact-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Get In Touch</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>


          <div class="row justify-content-between">
            
            <div class="col-md-6">
              <form method="POST" id="contactForm">
                {% csrf_token %}
                <div class="form-group row mb-0">

                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name">
                  </div>
                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control" id="email">
                  </div>
                  <div class="col-lg-12 form-group gsap-reveal">
                    <label for="message">Write your message...</label>
                    <textarea name="message" id="message" cols="30" rows="7" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group row gsap-reveal">
                  <div class="col-md-12 d-flex align-items-center">
                    <input type="submit" class="btn btn-outline-pill btn-custom-light">
                    <span class="submitting"></span>
                  </div>
                </div>
              </form>
              <div id="form-message-warning" class="mt-4"></div> 
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>

            </div>

            <div class="col-md-4">
              <div class="contact-info-v1">
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Email</span>
                  <a class="contact-info-val">{{ maindetails.email|safe }}</a>
                </div>
                {% if maindetails.phone_no %}
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Phone</span>
                  <a class="contact-info-val">{{ maindetails.phone_no|safe }}</a>
                </div>
                {% endif %}
                
              </div>
            </div>
          </div>
        </div>
      </div>
      </div> <!-- END .unslate_co-site-inner -->
    </div>
    
    <!-- Loader -->
    
    <div class="site-loader-wrap">
      <div class="site-loader"></div>
    </div>

    <script src="{% static 'js/scripts-dist.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>